<section id="contact" class="section section--contact pt-0">
  <div class="container">
      <div class="contact">
          <h2>Contáctanos</h2>
          <div class="row pt-2">
              <img class='lozad img-responsive image-left-overflow' src="https://raw.githubusercontent.com/secontrolape/secontrola_pe/main/src/assets/img/contacto_contacto.jpg" alt="">
              <div class="col-12 col-lg-5 contact__info">
                  <h4>Github</h4>
                  <span><a href="https://github.com/secontrolape">Secontrola.pe</a></span>
                  <h4>Email</h4>
                  <span><a href="mailto:secontrola.pe@gmail.com">secontrol.pe@gmail.com</a></span>
                  <h4>Residencia</h4>
                  <span>Perú.</span>
                  <br /><br />
                  <a class="btn btn-primary" href='mailto:secontrola.pe@gmail.com'>
                  <i class="icon-mail-fill"></i>
                  Escríbenos
              </a>
              </div>
          </div>
      </div>
  </div>
</section>
