<section id="contact" class="section section--contact pt-0">
  <div class="container">
      <div class="contact">
          <h2>Contactar</h2>
          <div class="row pt-2">
              <img class='lozad img-responsive image-left-overflow' src="https://raw.githubusercontent.com/Neracs/secontrola/master/src/assets/img/pedro.jpg" alt="">
              <div class="col-12 col-lg-5 contact__info">
                  <h4>Discord</h4>
                  <span>pedroorden#7077</span>
                  <h4>Email</h4>
                  <span><a href="mailto:pedroorden@gmail.com">pedroorden@gmail.com</a></span>
                  <h4>Residencia</h4>
                  <span>Buenos Aires, Argentina.</span>
                  <br /><br />
                  <a class="btn btn-primary" href='mailto:pedroorden@gmail.com'>
                  <i class="icon-mail-fill"></i>
                  Escribimenos
              </a>
              </div>
          </div>
      </div>
  </div>
</section>
