
<!-- <app-pie-chart></app-pie-chart>
<app-bar-chart></app-bar-chart> -->

<section id="portfolio" class="section section--border-bottom">
  <div class="container">
      <h2 class=" rad-animation-group rad-fade-down">
        Dashboard: Informes de control en el Perú
      </h2>      
      
<div class="row row--padded rad-animation-group rad-fade-down flex-column-reverse flex-md-row">

  <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
      <!-- <h3>Dashboard: Informes de control en el Perú</h3> -->
      <p class="lead">
        El Panel de Informes de control ha sido creado por el Secontrola.pe para realizar seguimiento a los informes de control y su vinculación con las contrataciones, proyectos de inversión, vinculación política y más.
      </p>     
      <a href="https://app.powerbi.com/view?r=eyJrIjoiMmRiY2M0ODAtYWQxMy00YTY0LThiYmMtNjdiZTBlZDg2NjZjIiwidCI6IjE3OWJkZGE4LWQ5NjQtNDNmZi1hZDNiLTY3NDE4NmEyZmEyOCIsImMiOjR9" class="btn btn-primary" target="_blank">Ver App<i class="icon-arrow-right"></i>
</a>
  </div>
  <div class="col-12 col-md-7 pl-md-0 text-right">    
      <img class='lozad img-responsive img-clip-left-backward' src="https://raw.githubusercontent.com/Neracs/secontrola/master/src/assets/img/powerbi.PNG" alt="">
  </div>
</div>
  </div>
</section>




