<section class="section rad-animation-group pb-20 pt-20 section--border-bottom" id="about">
  <div class="container rad-fade-down">
      <div class="row d-flex flex-column-reverse flex-md-row">
          <div class="about__profile-picture col-12 col-md-6">
              <img src="https://raw.githubusercontent.com/Neracs/secontrola/master/src/assets/img/03_freelancer.svg" alt="" class="lozad img-responsive image-left-overflow">
          </div>
          <div class="col-12 col-md-6 my-auto my-auto">
              <h2>¿Qué hacemos?</h2>
              <!-- <p class="lead"> -->
                  <p class="lead"> <strong>Secontrola.pe es un portal ciudadano de tipo Open Source que permite identificar y realizar de forma fácil y rápida el seguimiento de informes de control especifico y a funcionarios públicos relacionados a hechos con presuntas irregularidades contra el Estado peruano.</strong> </p>
                          <p class="lead"> El portal permite vincular información de informes de control con el sistema de contrataciones, proyectos de inversión, compras públicas, vinculación política y otras actuaciones del estado.</p>
              <a href="#" target="_self" class="btn btn-primary">
    <i class="icon-smile-fill"></i>
    Sobre nosotros
  </a>
          </div>
      </div>
  </div>
</section>
