<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg">
      <img src="https://raw.githubusercontent.com/Neracs/secontrola/master/src/assets/img/01_team.svg" alt="" width="100" height="100">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
              <h1 class="display-1">
                  Secontrola.pe
                  <br />
                  <span>Buscador de informes de control</span>
              </h1>
              <p class="lead">
                Portal ciudadano para identificar y realizar de forma fácil y rápida el seguimiento de informes de control especifico y a funcionarios públicos vinculados a hechos con presuntas irregularidades contra el Estado peruano.
                  <!-- <a target='_blank' href='https://neracs.github.io/secontrola/search'> Núcleo de Innovación Social</a>, un hub descentralizado de desarrollo y formación en nuevas tecnologías. -->
              </p>
              <a href="https://neracs.github.io/secontrola/search" class="btn btn-primary">
    Buscar funcionario
  </a>
          </div>
      </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile">
      <img class="lozad img-responsive" src="https://raw.githubusercontent.com/Neracs/secontrola/master/src/assets/img/01_team.svg" alt="" />
  </div>
</section>
