<section id="experience" class="section section--border-bottom rad-animation-group">
  <div class="container">
      <div class="row flex-column-reverse flex-md-row rad-fade-down">
          <div class="col-12 col-sm-6 mt-5 mt-sm-0">
              <div class="experience">
                  <div class="experience__date">Mar 2019 - Actualidad</div>
                  <div class="experience__title">Coordinador I+D</div>
                  <div class="experience__company">Núcleo de Innovación Social</div>
              </div>
              <div class="experience">
                  <div class="experience__date"> 2018 - Actualidad</div>
                  <div class="experience__title">Consultoría en extracción, análisis y visualización masiva de datos</div>
                  <div class="experience__company">Freelance</div>
              </div>
              <div class="experience">
                  <div class="experience__date">Ene 2020 - Dic 2021</div>
                  <div class="experience__title">Investigador IA y Ciencias Sociales</div>
                  <div class="experience__company">Universidad Nacional de Villa María</div>
              </div>
              <div class="experience">
                  <div class="experience__date">Ene 2018 - Dic 2021</div>
                  <div class="experience__title">Coordinador de investigación y sistematización de datos</div>
                  <div class="experience__company">IDEP Salud-Unión Europea</div>
              </div>
          </div>
          <div class="col-12 col-sm-6">
              <h2>Experiencia</h2>
              <p class="lead">
                  Sólida trayectoria en la realización de estudios sociales cuali-cuantitativos. Diseño y desarrollo de productos basados en datos para ayudar a las organizaciones a optimizar la toma de decisiones y mejorar en la calidad de sus procesos.
              </p>
              <a href="https://www.linkedin.com/in/pedroorden/" class="btn btn-primary" target="_blank">
              <i class="icon-linkedin-fill"></i>
              Linkedin
              <i class="icon-arrow-right"></i></a>
              <a href="/" class="btn btn-frameless" target="_blank">
              <i class=""></i>
          </a>
          </div>
      </div>
  </div>
</section>
