<section id="experience" class="section section--border-bottom rad-animation-group">
  <div class="container">
      <div class="row flex-column-reverse flex-md-row rad-fade-down">
          <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                <h2>DataSets</h2>
              <div class="experience">
                  <div class="experience__title">OSCE - Organismo Supervisor de las Contrataciones del Estado</div>
                  <div class="experience__company">Contrataciones con el Estado </div>
                  <div class="experience__date">2019 - Mayo 2022 </div>
                  <br>
                  <a href="https://github.com/secontrolape/2da_etapa_DATATON/tree/main/OSCE" class="btn btn-primary">Ver más</a>
              </div>
              <div class="experience">
                  <div class="experience__title">JNE - Jurado Nacional de Elecciones</div>
                  <div class="experience__company">Afiliados a partidos politicos y movimientos regionales </div>
                  <div class="experience__date"> febrero 2022 </div>
                  <br>
                  <a href="https://github.com/secontrolape/2da_etapa_DATATON/tree/main/JNE" class="btn btn-primary">Ver más</a> 
              </div>
              <div class="experience">
                  <div class="experience__title">CONTRALORIA - Contraloria General de la República</div>
                  <div class="experience__company">Informes de Control Posterior </div>
                  <div class="experience__date">2019 - Mayo 2022 </div>
                  <br>
                  <a href="https://github.com/secontrolape/2da_etapa_DATATON/tree/main/CGR" class="btn btn-primary">Ver más</a>
              </div>
              
          </div>
          <div class="col-12 col-sm-6">
              <h2>CGR-PdfExtract</h2>
              <p class="lead">
                  Desarrollamos un paquete para la extracción de información relevante de los
                  resumenes de los Informes de Control Posterior, el cual consta de dos funciones:
                  <br>
                  - Extrae información de un solo archivo resumen del "Informe de Control Posterior"
                  <br>
                  - Extrae información de un .csv donde se ubican los urls de cada resumen de los "Informes de Control Posterior"
              </p>
              <a href="https://pypi.org/project/cgr-pdfextract/" class="btn btn-primary" target="_blank">
              <!-- <i class="icon-linkedin-fill"></i> -->
              Ver más
              <i class="icon-arrow-right"></i></a>
              <a href="/" class="btn btn-frameless" target="_blank">
              <i class=""></i>
          </a>
          </div>
      </div>
  </div>
</section>
